<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Group Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      </head>
      <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      	  <a class="navbar-brand" href="home.html">
      		    <img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
      	  </a>
      	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      		    <span class="navbar-toggler-icon"></span>
      	  </button>
      	  <div class="collapse navbar-collapse" id="navbarText">
      		<ul class="navbar-nav mr-auto">
      		  <li class="nav-item">
      			     <a class="nav-link" href="#">Home</a>
      		  </li>
      		  <li class="nav-item">
      			     <a class="nav-link" href="my_saved_events.html">Events</a>
      		  </li>
      		  <li class="nav-item">
      			     <a class="nav-link" href="user.html">Calender</a>
      		  </li>
      		</ul>
          <<ul class="nav navbar-nav navbar-right">
            <li><a href="#myModal" class="btn btn-info btn-sm" data-toggle="modal">Sign Up</a></li>
            <li><a href="#myModal" class="btn btn-info btn-sm" data-toggle="modal">Login</a></li>
          </ul>
        </div>
        <div id="myModal" class="modal fade">
          <div class="modal-dialog modal-login">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="text-center modal-title">Sign Up page</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <input type="text" class="form-control" name="username" placeholder="Username"
                  required="required">
                </div>
                <div class="form-group">
                  <input id="psw" type="password" class="form-control" name="password" placeholder="Password"
                  required="required">
                </div>
                <div class="form-group">
                  <input id="cpsw" type="password" class="form-control" name="confirm password"
                  placeholder="Confirm Password" required="required">
                </div>
                <div class="form-group">
                  <button id="my_submit_button" class="btn btn-primary btn-block login-btn" disabled
                  onClick="onClickFunction()">Sign Up</button>
                </div>
              </div>
              <div class="modal-footer">
                <div id="message" style="display:block">
                  <h3>Password must contain the following:</h3>
                  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number" class="invalid">A <b>number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                  <p id="match" class="invalid">Password and Confirm Password Match</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      	</nav>
        <div class="bg">
          <img src="../resources/img/cu-campus.jpg" alt="CU campus">
            <style media="screen">
            img {
              max-width: 100%;
              height: auto;
            }
            </style>
            <h1>Upcoming Events</h1>
            <div class="row container">
              <div class="col card-deck">
                <div class="col-4 card bg-light">
                  <div class="card-body text-center">
                    <h1>new event</h1>
                    <p>Sample</p>
                  </div>
                </div>
                <div class="col-4 card bg-light">
                  <div class="card-body text-center">
                    <h1>new event</h1>
                    <p>Sample</p>
                  </div>
                </div>
                <div class="col-4 card bg-light">
                  <div class="card-body text-center">
                    <h1>new event</h1>
                    <p>Sample</p>
                  </div>
                </div>
            </div>
        </div>
      </body>
    </html>
