<!doctype html>
<html>
  <head>
    <title>User Account</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/calender.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body onload="initialize()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="home.html">
          <img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
             <a class="nav-link" href="home.html">Home</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="my_saved_events.html">Events</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="#">Calender</a>
        </li>
      </ul>
      <<ul class="nav navbar-nav navbar-right">
        <li><a href="#myModal" class="btn btn-info btn-sm" data-toggle="modal">Sign Up</a></li>
        <li><a href="#myModal" class="btn btn-info btn-sm" data-toggle="modal">Login</a></li>
      </ul>
    </div>
    <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-login">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="text-center modal-title">Sign Up page</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username"
              required="required">
            </div>
            <div class="form-group">
              <input id="psw" type="password" class="form-control" name="password" placeholder="Password"
              required="required">
            </div>
            <div class="form-group">
              <input id="cpsw" type="password" class="form-control" name="confirm password"
              placeholder="Confirm Password" required="required">
            </div>
            <div class="form-group">
              <button id="my_submit_button" class="btn btn-primary btn-block login-btn" disabled
              onClick="onClickFunction()">Sign Up</button>
            </div>
          </div>
          <div class="modal-footer">
            <div id="message" style="display:block">
              <h3>Password must contain the following:</h3>
              <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
              <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
              <p id="number" class="invalid">A <b>number</b></p>
              <p id="length" class="invalid">Minimum <b>8 characters</b></p>
              <p id="match" class="invalid">Password and Confirm Password Match</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </nav>
    <div class="month">
      <ul>
        <li onclick="cycleLeft()" class="prev"><button>&#10094;</button></li> <!-- These are the codes for the left and right arrows-->
        <li onclick="cycleRight()" class="next"><button>&#10095;</button></li>
        <li id="monthTitle" style="font-size:18px">Whoops</li>
      </ul>
    </div>
    <ul class="weekdays">
      <li>Su</li>
      <li>Mo</li>
      <li>Tu</li>
      <li>We</li>
      <li>Th</li>
      <li>Fr</li>
      <li>Sa</li>
    </ul>
    <div id="calendarDays">
    </div>
    <script defer>
      var months = {
        1: "January",
        2: "February",
        3: "March",
        4: "April",
        5: "May",
        6: "June",
        7: "July",
        8: "August",
        9: "September",
        10: "October",
        11: "November",
        12: "December"
      };
      var date = new Date();
      //getDate(), getFullYear(), getMonth(), getDay()
      function initialize() {
        loadCalendarDays(date.getMonth()+1,date.getFullYear())
      }
      function cycleLeft() {
        var month = date.getMonth() + 1;
        var tYear = date.getFullYear();
        if (month == 1) {
          month = 12;
          tYear = tYear - 1;
          date.setYear(tYear);
        } else {
          month = month - 1;
        }
        date.setMonth(month - 1);
        loadCalendarDays(month, tYear);
      }
      function cycleRight() {
        var month = date.getMonth() + 1;
        var tYear = date.getFullYear();
        if (month == 12) {
          month = 1;
          tYear = tYear + 1;
          date.setYear(tYear);
        } else {
          month = month + 1;
        }
        date.setMonth(month - 1);
        loadCalendarDays(month, tYear);
      }
      function daysInMonth(month, year) {
        var d = new Date(year, month, 0);
        return d.getDate();
      }

      function loadCalendarDays(month, year) {
        var cD = document.getElementById("calendarDays");
        cD.innerHTML = "";
        document.getElementById("monthTitle").innerHTML = months[month] + " " + year;
        var size = daysInMonth(month, year);
        var dayI = date.getDate();
        var offset = (new Date(year, (month-1), 1)).getDay();
        for (var i = 0; i < offset; ++i) {
          var d = document.createElement("div");
          d.classList.add("day");
          d.classList.add("blank");
          cD.appendChild(d);
        }
        for (var i = 1; i <= size; ++i) {
          var d = document.createElement("div");
          d.classList.add("day");
          d.innerHTML = i;
          cD.appendChild(d);
        }
      }
    </script>
  </body>
</html>
