<%- include ("../partials/header") %>
  <body>
    <%- include ("../partials/navbar") %>
    <div class="w3-container">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="text-center modal-title">Registration page</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id= "org_name" type="text" class="form-control" name="org_name" placeholder="Organization name"
                required="required">
          </div>
          <div class="form-group">
            <input id="contact" type="text" class="form-control" name="contact" placeholder="placeholder@email.com"
                required="required">
          </div>
          <div class="form-group">
            <input id="upcoming_events" type="text" class="form-control" name="upcoming" placeholder="# of upcoming events"
                required="required">
          </div>
          <div class="form-group">
            <button id="my_submit_button" class="btn btn-primary btn-block login-btn" disabled>Submit</button>
          </div>
        </div>
      </div>
    </div>
